{% include 'admin/basics/top.html.twig' %}

<body>
{% include 'admin/basics/header.html.twig' %}
<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

        {% include 'admin/basics/menu.html.twig' %}

		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			<div class="content">
				<!-- Dashboard content -->
				<div class="row">
					<div class="col-lg-12">

						<!-- Lista usuários -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title">Hover rows</h5>
							</div>

							<table class="table datatable-basic table-hover">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Job Title</th>
										<th>DOB</th>
										<th>Status</th>
										<th class="text-center">Actions</th>
									</tr>
								</thead>
								<tbody>
								{% for cadastro in cadastros %}
									<tr>
										<td>{{ cadastro.usuario }}</td>
										<td><a href="#">{{ cadastro.ultimo_acesso|date("d/m/Y") }}</a></td>
										<td>Traffic Court Referee</td>
										<td>22 Jun 1972</td>
										<td><span class="label label-success">Active</span></td>
										<td class="text-center">
											<ul class="icons-list">
												<li class="dropdown">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown">
														<i class="icon-menu9"></i>
													</a>

													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
														<li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
														<li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
													</ul>
												</li>
											</ul>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
						<!-- /Lista usuários -->


						<!-- Quick stats boxes -->
						<div class="row">
							<div class="col-lg-4">

								<!-- Members online -->
								<div class="panel bg-teal-400">
									<div class="panel-body">
										<div class="heading-elements">
											<span class="heading-text badge bg-teal-800">+53,6%</span>
										</div>

										<h3 class="no-margin">3,450</h3>
										Members online
										<div class="text-muted text-size-small">489 avg</div>
									</div>

									<div class="container-fluid">
										<div id="members-online"></div>
									</div>
								</div>
								<!-- /members online -->

							</div>

							<div class="col-lg-4">

								<!-- Current server load -->
								<div class="panel bg-pink-400">
									<div class="panel-body">
										<div class="heading-elements">
											<ul class="icons-list">
												<li class="dropdown">
													<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog3"></i> <span class="caret"></span></a>
													<ul class="dropdown-menu dropdown-menu-right">
														<li><a href="#"><i class="icon-sync"></i> Update data</a></li>
														<li><a href="#"><i class="icon-list-unordered"></i> Detailed log</a></li>
														<li><a href="#"><i class="icon-pie5"></i> Statistics</a></li>
														<li><a href="#"><i class="icon-cross3"></i> Clear list</a></li>
													</ul>
												</li>
											</ul>
										</div>

										<h3 class="no-margin">49.4%</h3>
										Current server load
										<div class="text-muted text-size-small">34.6% avg</div>
									</div>

									<div id="server-load"></div>
								</div>
								<!-- /current server load -->

							</div>

							<div class="col-lg-4">

								<!-- Today's revenue -->
								<div class="panel bg-blue-400">
									<div class="panel-body">
										<div class="heading-elements">
											<ul class="icons-list">
												<li><a data-action="reload"></a></li>
											</ul>
										</div>

										<h3 class="no-margin">$18,390</h3>
										Today's revenue
										<div class="text-muted text-size-small">$37,578 avg</div>
									</div>

									<div id="today-revenue"></div>
								</div>
								<!-- /today's revenue -->

							</div>
						</div>
						<!-- /quick stats boxes -->
					</div>
				</div>
				<!-- /dashboard content -->


                {% include 'admin/basics/rodape.html.twig' %}

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->

</body>
</html>
