{% include 'admin/basics/top.html.twig' %}

<body>
{% include 'admin/basics/header.html.twig' %}
<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

        {% include 'admin/basics/menu.html.twig' %}

		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			<div class="content">
				<!-- Dashboard content -->
				<div class="row">
					<div class="col-lg-12">

						<!-- Lista usuários -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title">Cadastrar Planta</h5>
							</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<form action="{{ route('admin.paises.store') }}" method="post">
										<div class="panel panel-flat">
											<div class="panel-body">

												<fieldset class="content-group">
													<legend class="text-bold">Arquivos de mídia</legend>
													<div class="form-group">
														<label for="fotos" class="control-label">Fotos:</label>
														<div class="input-group file-caption-main">
															<div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
																<div class="file-caption-name" title=""></div>
															</div>

															<div class="input-group-btn">
																<button type="button" tabindex="500" title="Clear selected files" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="icon-cross3"></i>  <span class="hidden-xs">Remover</span></button>
																<button type="button" tabindex="500" title="Abort ongoing upload" class="btn btn-default hide fileinput-cancel fileinput-cancel-button"><i class="glyphicon glyphicon-ban-circle"></i>  <span class="hidden-xs">Cancel</span></button>
																<button type="button" tabindex="500" title="Upload selected files" class="btn btn-default fileinput-upload fileinput-upload-button"><i class="icon-file-upload2"></i>  <span class="hidden-xs">Upload</span></button>
																<div tabindex="500" class="btn btn-primary btn-file"><i class="icon-file-plus"></i>  <span class="hidden-xs">Buscar</span><input class="file-input" multiple="multiple" id="1507508615242" type="file"></div>
															</div>
														</div>
													</div>

													<div class="form-group">
														<label for="video" class="control-label">Vídeo:</label>
														<div class="input-group col-md-12">
															<input class="col-md-11" id="video" placeholder="Vídeo" name="video">
															<button type="button" tabindex="500" title="Upload selected files" class="btn btn-default fileinput-upload fileinput-upload-button"><i class="icon-file-upload2"></i>  <span class="hidden-xs">Upload</span></button>
														</div>
												</fieldset>



												<fieldset class="content-group">
													<legend class="text-bold">Nomenclatura</legend>

													<div class="form-group col-md-4">
														<label class="display-block">Família </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Nome científico </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Nome Popular </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
													<hr>
												</fieldset>

												<fieldset class="content-group">
													<div class="form-group col-md-6">
														<label class="display-block">Gênero </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Espécie </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>
													<div class="form-group col-md-6">
														<label class="display-block">Sinonímia </label>
														<textarea rows="4" cols="4" class="form-control elastic" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 96px;"></textarea>
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Outros nomes populares </label>
														<textarea rows="4" cols="4" class="form-control elastic" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 96px;"></textarea>
													</div>
													<hr>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Ocorrência</legend>

													<div class="form-group col-md-3">
														<label class="display-block">Origem </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Endemismo </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Continente </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">País </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Distribuição no Brasil</legend>

													<div class="form-group col-md-3">
														<label class="display-block">Domínio Fitogeográfico </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Tipo de Vegetação </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Ecologia</legend>

													<div class="form-group col-md-4">
														<label class="display-block">Clima </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Substrato </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Grau de Umidade </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Grupo Sucessional </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Exigência Lumínica </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Ciclo de Vida </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Deiscência Foliar </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<div class="form-group col-md-12">
														<label class="display-block">Resumo </label>
														<textarea rows="4" cols="4" class="form-control elastic" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 96px;"></textarea>
													</div>
													<div class="form-group col-md-12">
														<label class="display-block">Informações </label>
														<textarea rows="4" cols="4" class="form-control elastic" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 96px;"></textarea>
													</div>
													<div class="form-group col-md-12">
														<label class="display-block">Informações Adicionais </label>
														<textarea rows="4" cols="4" class="form-control elastic" placeholder="Textarea" style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 96px;"></textarea>
													</div>
												</fieldset>


												<fieldset class="content-group">
													<div class="form-group col-md-12">
														<label class="display-block">Características </label>
														<select data-placeholder="Selecione o período" class="select" name="periodoAssinatura" id="periodoAssinatura">
															<option></option>
															<option value="0">Anual</option>
															<option value="1">Mensal</option>
														</select>
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Morfologia</legend>

													<div class="form-group col-md-6">
														<label class="display-block">Forma de Vida </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Altura Máxima </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Folha</legend>

													<div class="form-group col-md-4">
														<label class="display-block">Tipo de Folha </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Filotaxia </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Forma </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Margem </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Ápice </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Base </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Nervação </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Consistência </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Pilosidade </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Caracteres Especiais </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Flor</legend>

													<div class="form-group col-md-3">
														<label class="display-block">Cor </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Disposição </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Plano de Simetria </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Cálice </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Corola </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Forma da Corola </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Perianto </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-3">
														<label class="display-block">Estames </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Casca</legend>

													<div class="form-group col-md-4">
														<label class="display-block">Aparência </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Deiscência </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-4">
														<label class="display-block">Textura Interna </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Cor Interna </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Caracteres Especiais: </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Fruto</legend>

													<div class="form-group col-md-6top
">
														<label class="display-block">Tipo de Fruto </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Cor do Fruto </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>


												<fieldset class="content-group">
													<legend class="text-bold">Referências</legend>

													<div class="form-group col-md-6">
														<label class="display-block">Referência </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>

													<div class="form-group col-md-6">
														<label class="display-block">Link </label>
														<input class="form-control" name="dataAssinatura" id="dataAssinatura" type="text">
													</div>
												</fieldset>

													<button type="submit" class="btn bg-teal-400 pull-right"><i class="fa fa-pencil-square-o position-left"></i> Salvar </button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /Lista usuários -->
					</div>
				</div>
				<!-- /dashboard content -->


                {% include 'admin/basics/rodape.html.twig' %}

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->

</body>
</html>
