{% include 'admin/basics/top.html.twig' %}

<body>
{% include 'admin/basics/header.html.twig' %}
<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

        {% include 'admin/basics/menu.html.twig' %}

		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Content area -->
			<div class="content">
				<!-- Dashboard content -->
				<div class="row">
					<div class="col-lg-12">

						<!-- Lista usuários -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h5 class="panel-title">Finalizar Cadastro de Planta</h5>
							</div>
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<form action="{{ route('admin.plantas.storeFinal') }}" method="post">
										<div class="panel panel-flat">
											<div class="panel-body">

												<fieldset class="content-group">
													<legend class="text-bold">Arquivos de mídia</legend>

													<div class="form-group">
														<div class="input-group col-lg-12">
															<input type="file" class="file-input-ajax" multiple="multiple" name="images[]" id="images" >
															<span class="help-block">Cuiadado com a quantidade de arquivos, recomendado 8.</span>
														</div>
													</div>

													<div class="form-group">
														<label for="video" class="control-label">Vídeo:</label>
														<div class="input-group col-md-12">
															<div class="listVideos">
																<ul></ul>
															</div>

															<div class="col-lg-4">
																<input class="col-lg-12" id="urlVideo" placeholder="URL do Vídeo" name="urlVideo" />
															</div>
															<div class="col-lg-7">
																<input class="col-lg-12" id="tituloVideo" placeholder="Título do Vídeo" name="tituloVideo" />
															</div>
															<button type="button" tabindex="500" title="Upload selected files" class="btn btn-default fileinput-upload fileinput-upload-button " id="btnVideo"><i class="icon-file-upload2"></i>  <span class="hidden-xs">Add</span></button>
														</div>
													</div>
												</fieldset>

												<fieldset class="content-group">
													<legend class="text-bold">Registros Mapeados</legend>
													<div id="mapa" class="col-md-12" style="height: 500px;"></div>
													<form id="mapeamento">
														<div class="col-lg-3 p-5">
															<input type="text" name="longitude" id="longitude" placeholder="Longitude" class="col-md-12">
														</div>
														<div class="col-lg-3 p-5">
															<input type="text" name="latitude" id="latitude" placeholder="Latitude" class="col-md-12">
														</div>
														<div class="col-lg-5 p-5">
															<input type="text" name="fonte" id="fonte" placeholder="Fonte" class="col-md-12">
														</div>
														<div class="col-lg-1 p-5">
															<input type="button" name="enviar" value="Enviar" id="btnMapeamento" class="btn btn-primary">
														</div>
													</form>
												</fieldset>

												<fieldset class="content-group">
													<legend class="text-bold">Referências</legend>

                                                    <div class="listRef">
                                                        <ul></ul>
                                                    </div>
													<div class="form-group col-md-6">
														<input class="form-control" name="textoReferencia" id="textoReferencia" type="text" placeholder="Texto">
													</div>

													<div class="form-group col-md-4">
														<input class="form-control" name="linkReferencia" id="linkReferencia" type="text" placeholder="Link">
													</div>

                                                    <div class="form-group col-md-2">
                                                        <button type="button" tabindex="500" title="Upload selected files" id="btnReferencia" class="btn btn-default fileinput-upload fileinput-upload-button "><i class="icon-file-upload2"></i>  <span class="hidden-xs">Add</span></button>
                                                    </div>
												</fieldset>

                                                <div id="dadosSerializados" style="display: none;">
													<input type="hidden" name="plantaId" id="plantaId" value="{{ idPlanta }}">
												</div>

												<button type="submit" class="btn bg-teal-400 pull-right"><i class="fa fa-pencil-square-o position-left"></i> Salvar </button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- /Lista usuários -->
					</div>
				</div>
				<!-- /dashboard content -->

                {% include 'admin/basics/rodape.html.twig' %}

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->


<script type="text/javascript" src="assets/js/maps/google/markers/mapa.js"></script>
<script>
        var json = [];

        jQuery('#btnReferencia').on('click', function (){
            var texto = jQuery("#textoReferencia").val();
            var link = jQuery("#linkReferencia").val();

            jQuery('#dadosSerializados').append('' +
                '<input type="hidden" name="ref[texto][]" id="textoRef" value="'+ texto +'">' +
                '<input type="hidden" name="ref[link][] id="linkRef" value="'+ link +'">' +
                '');
            jQuery('#textoReferencia').val('');
            jQuery('#linkReferencia').val('');


            jQuery('.listRef ul').append('<li>'+ texto +' - <a href="'+ link +'" target="_blank">'+ link +'</a></li>');
        });

        jQuery('#btnVideo').on('click', function (){
            var titulo = jQuery("#tituloVideo").val();
            var url = jQuery("#urlVideo").val();

            jQuery('#dadosSerializados').append('' +
                '<input type="hidden" name="video[texto][]" id="tituloVideo" value="'+ titulo +'">' +
                '<input type="hidden" name="video[url][]" id="urlVideo" value="'+ url +'">' +
                '');
            jQuery('#tituloVideo').val('');
            jQuery('#urlVideo').val('');


            jQuery('.listVideos ul').append('<li>'+ titulo +' - <a href="'+ url +'" target="_blank">'+ url +'</a></li>');
        });


        jQuery("#btnMapeamento").on('click', function (){
            json.push(
                {
                    "Id": 1,
                    "Latitude": jQuery("#latitude").val().replace(",",".").replace(" ",""),
                    "Longitude": jQuery("#longitude").val().replace(",",".").replace(" ",""),
                    "Descricao": jQuery("#fonte").val()
                }
            );

            jQuery('#dadosSerializados').append('' +
                '<input type="hidden" name="map[latitude][]" id="latitudeMap" value="'+ jQuery("#latitude").val().replace(",",".").replace(" ","") +'">' +
                '<input type="hidden" name="map[longitude][]" id="longitudeMap" value="'+ jQuery("#longitude").val().replace(",",".").replace(" ","") +'">' +
                '<input type="hidden" name="map[font][]" id="fontMap" value="'+ jQuery("#fonte").val() +'">' +
                '');
            jQuery('#latitude').val('');
            jQuery('#longitude').val('');
            jQuery('#fonte').val('');

            deleteMarkers();
            carregarPontos(json);
        });

        carregarPontos(json);
</script>
</body>
</html>
