{% include 'basics/top.html.twig' %}
{% include 'basics/headerTop.html.twig' %}
{% include 'basics/menu.html.twig' %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">
            {% include 'basics/lateralL.html.twig' %}
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-lg-6">
                <!-- page-title start -->
                <!-- ================ -->
                <h3 class="page-title">Entre em contato conosco!</h3>
                <div class="separator-2"></div>
                <!-- page-title end -->

                <div class="col-md-12">
                    <div>{{ resposta }}</div>
                    <div class="well well-sm">
                        <form method="post" action="{{ route('contato.envia') }}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Enter name" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email">E-mail</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <label for="assunto">Subject</label>
                                        <select id="assunto" name="assunto" class="form-control" required="required">
                                            <option value="na" selected="">Choose One:</option>
                                            <option value="service">General Customer Service</option>
                                            <option value="suggestions">Suggestions</option>
                                            <option value="product">Product Support</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="mensagem">Messagem</label>
                                        <textarea name="mensagem" id="mensagem" class="form-control" rows="4" cols="25" required="required" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="image-box style-3-b">
                    <div class="row margin-clear">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="shadow bordered">
                                <img src="./assets/images/isolada_grande.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8 col-lg-8">
                            <div class="body">
                                <h3 class="title"><a href="">Já conhece essa espécie?</a></h3>
                                <p class="small mb-10"><i class="pl-10 icon-tag-1"></i> <strong>Nome científico:</strong> Mimosa scabrella Benth. </p>
                                <div class="separator-2"></div>
                                <p class="small mb-10"><i class="pl-10 icon-tag-1"></i> <strong>Nomes populares:</strong> bracatinga, bracatinga-amarela, abracatinga, anizeiro, bracatinga-branca, bracatinga-comum, bracatinga-vermelha, bracatinha, mandengo, maracatinga, paracatinga. </p>
                                <div class="separator-2"></div>
                                <p class="small mb-10"><i class="pl-10 icon-tag-1"></i> <strong>Resumo:</strong>  Árvore inerme de até 20 m de altura, com casca externa áspera ou com pequenas fissuras. Os ramos, folhas, flores e frutos possuem pubescência ferrugínea. Suas folhas são compostas, paripinadas, alternas, com 3 a 7 pares de pinas ... </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <a class="btn btn-default-transparent ol-sm-12 col-md-12 col-lg-12">Conheça melhor</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main end -->
            {% include 'basics/lateralD.html.twig' %}

        </div>
    </div>
</section>
<!-- main-container end -->

{% include 'basics/rodape.php' %}
</body>
</html>