{% include 'basics/top.html.twig' %}
{% include 'basics/headerTop.html.twig' %}
{% include 'basics/menu.html.twig' %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">
            {% include 'basics/lateralL.html.twig' %}
            <!-- main start -->
            <!-- ================ -->
                <!-- page-title start -->
                <!-- ================ -->
                <h2 class="page-title">Glossário</h2>
                <div class="separator-2"></div>
                <!-- page-title end -->
                {% if not Auth.check() %}
                <div class="row" style="padding: 0 20px;">
                    <div class="notice notice-danger">
                        <strong><i class="fa fa-exclamation-triangle"></i></strong> Para utilizar o
                        <strong>GLOSSÁRIO</strong>, faça login em nosso sistema.
                    </div>
                </div>
                {% else %}

                <div class="col-md-12">
                    <div class="well well-sm">
                        <table class="table table-hover table-bordered table-colored">
                            {% for glossario in glossarios %}
                                <tr>
                                    <td>
                                        <div class="col-md-4">
                                            <img src="assets/imagens/glossario/{{ glossario.imagem }}" />
                                            <div class="col-md-12 text-center">{{ glossario.nome }}</div>
                                        </div>
                                        <div class="col-md-8">{{ glossario.descricao }}</div>
                                        <hr>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- main end -->
            {% include 'basics/lateralD.html.twig' %}

        </div>
    </div>
</section>
<!-- main-container end -->

{% include 'basics/rodape.php' %}
</body>
</html>