{% include 'basics/top.html.twig' %}
{% include 'basics/headerTop.html.twig' %}
{% include 'basics/menu.html.twig' %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <!-- page-title start -->
                <!-- ================ -->
                <h3 class="page-title">Login</h3>
                <div class="separator-2"></div>
                <!-- page-title end -->

                <div class="col-md-12">
                    <div class="well well-sm">
                        <form method="post" action="{{ route('auth.login') }}">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="usuario">Usuário</label>
                                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuário" required="required" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="mensagem">Senha</label>
                                        <input name="senha" id="senha" class="form-control" type="password" required="required" placeholder="Senha" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Entrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->

{% include 'basics/rodape.php' %}
</body>
</html>