{% include 'basics/top.html.twig' %}
{% include 'basics/headerTop.html.twig' %}
{% include 'basics/menu.html.twig' %}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">
            {% include 'basics/lateralL.html.twig' %}
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-lg-6">
                <!-- page-title start -->
                <!-- ================ -->
                <h3 class="page-title">Recrutador</h3>
                <div class="separator-2"></div>
                <!-- page-title end -->

                <div class="col-md-12">
                    <div class="well well-sm">

                    </div>
                </div>
            </div>
            <!-- main end -->
            {% include 'basics/lateralD.html.twig' %}

        </div>
    </div>
</section>
<!-- main-container end -->

{% include 'basics/rodape.php' %}
</body>
</html>